<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Amanda">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/amanda/img/amanda-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/amanda">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/amanda/img/amanda-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/amanda/img/amanda-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">


    <title>Facial Expression Recognition</title>

    <!-- vendor css -->
    <link href="../../static/adminResources/css/font-awesome.css" rel="stylesheet">
    <link href="../../static/adminResources/css/ionicons.css" rel="stylesheet">
    <link href="../../static/adminResources/css/perfect-scrollbar.css" rel="stylesheet">

    <!-- Amanda CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/index.css">
</head>

<body>
<div class="am-signin-wrapper">
    <div class="am-signin-box">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <div>
                    <h1>Change Password</h1>
                    <br>
                    <p>The Responsive Facial Expression Recognition</p>
                    <p>get reliable data for your respective facial expressions <br>😊😒😢</p>
                    <hr>
                    <p>register your account? <br><a href="/user/loadRegister">Sign Up</a></p>

                </div>
            </div>
            <div class="col-lg-7">
                <h5 class="tx-gray-800 mg-b-25">Change Password</h5>
                <form action="/user/insertPassword" method="post">
                    <div class="form-group">
                        <label class="form-control-label">Enter Old Password : </label>
                        <input type="email" name="oldLoginPassword" class="form-control" autocomplete="off"
                               placeholder="Enter Old Password">
                    </div><!-- form-group -->

                    <div class="form-group">
                        <label class="form-control-label">Enter New Password : </label>
                        <input type="password" name="loginPassword" class="form-control"
                               placeholder="Enter New Password">
                    </div><!-- form-group -->

                    <div class="form-group mg-b-20"><a href="/admin/forgotPassword">Forgot password?</a></div>

                    <button type="submit" value="submit" class="btn btn-block">Sign In</button>
                    <!--{% if error %}-->
                    <!--<h4 style="color:red">{{ error }}</h4>-->
                    <!--{% elif error_block %}-->
                    <!--<h4 style="color:red">{{ error_block }}</h4>-->
                    <!--{% endif %}-->
                    <center><h5 style="color: red;">{{ msg }}</h5></center>
                </form>
            </div><!-- col-7 -->
        </div><!-- row -->
        <p class="tx-center tx-white-5 tx-12 mg-t-15"></p>
    </div><!-- signin-box -->
</div><!-- am-signin-wrapper -->
<script src="../../static/adminResources/js/jquery.js"></script>
<script src="../../static/adminResources/js/popper.js"></script>
<script src="../../static/adminResources/js/bootstrap.js"></script>
<script src="../../static/adminResources/js/perfect-scrollbar.jquery.js"></script>

<script src="../../static/adminResources/js/amanda.js"></script>
</body>
</html>
